<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/"><img src="~/images/logoc256.jpg" alt="Vote Frank Krueger" height="128" /></a>
            <div class="links">
                <a href="/about">About</a>
                <a href="/issues">Issues</a>
                <a class="donate" href="/donate">Donate</a>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="paidforby">Paid for by<br/><br/>
        Vote Frank Krueger<br/>
        PO Box 95575<br/>
        Seattle, WA 98145</div>
        <div class="legal">&copy; @DateTime.Now.Year Vote Frank Krueger</div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
