<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VoteFrank</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a href="/"><img src="~/images/logo256.png" alt="Vote Frank!" /></a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
            &copy; @DateTime.Now.Year
            <div>Paid for by<br/>
            Vote Frank Krueger
            PO Box 95575<br>
            Seattle, WA 98145</div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
