@page
@{
    ViewData["Title"] = "About Frank Krueger - Seattle City Council District 4";
}

<h1>About Frank</h1>

<div class="underconstruction">
    <img src="~/images/underconstruction.gif" />
</div>
