@page
@{
    ViewData["Title"] = "About Frank Krueger - Seattle City Council District 4";
}

<h1>About Frank</h1>

<section class="headshot">
    <img class="headshot" src="~/images/headshot1.jpg" height="320" />
</section>

<section class="bigtext">
    <p>Frank&nbsp;Krueger fell in love with Seattle 15 years ago and has been a <strong>small business owner</strong> in District 4 for over a decade. While building his mobile app business, he led free <strong>professional continuing education efforts</strong> for adults, volunteered in after-school <strong>STEM education programs for kids</strong>, and <strong>helped immigrants</strong> navigate the US immigration system to legally enter the United States.</p>
</section>

