@page
@{
    ViewData["Title"] = "Donate to Frank Krueger for Seattle City Council District 4";
}

<div class="fc" data-fc-slug="votefrank" data-fc-fr-id="f7b9bd8d-a3c0-4462-90d3-6df83dc4c000" data-fc-theme="fr-default"></div>
<script type="text/javascript" src="https://app.fastercampaigns.com/js/fc-wepay.js"></script>
