@page
@{
    ViewData["Title"] = "Donate to Elect Frank Krueger";
}

<h1>Donate</h1>

<div style="text-align:center;margin:4em 0em;">
    <img src="~/images/underconstruction.gif" height="48" />
</div>
