@page "{year}/{month}"
@{
    var election = Election.Get(int.Parse(""+@RouteData.Values["year"]), int.Parse(""+@RouteData.Values["month"]));
    ViewData["Title"] = election.Year + " " + election.Kind + " Election";
}

<h1>@election.Year @election.Kind Election</h1>

<div class="races">
@foreach (var r in election.Races) {
    @await Html.PartialAsync("_RaceSummary", r)
}
</div>

