@page
@{
    ViewData["Title"] = "District 4 Events - Frank Krueger for Seattle City Council District 4";
}

<h1>District 4 Upcoming Events</h1>

<section class="text">
    <div class="content">
    <h2>May 30, 2019 - Cascade Bicycle Club D4 Candidate Forum</h2>
    <p>
        Come hear Frank at the forum on Transportation, Housing & Sustainability
        Thursday, May 30, 5:30-7:30pm
        at the Cascade Bicycling Center, 7787 62nd Ave NE.
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>June 1, 2019 - North Lake Union Waterway Cleanup</h2>
    <p>
        Join us for a cleanup of the Northlake Way waterways!
        Trash pickers, gloves, and garbage bags will be supplied. Just
        bring yourself and comfortable clothes for walking. Coffee, tea,
        and snacks will be provided!
    </p>
    <img src="/images/waterways.png" style="width:50%">
    <p>
        Meet at the main entrance to Gas Works Park and look for the volunteers in blue shirts.
        We will start at Waterway 22 and work our way east to Waterway 15.
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>June 8, 2019 - 43rd District Democrats D4 Candidate Forum</h2>
    <p>
        Come hear Frank at the District 4 Candidate Forum
        Saturday, June 8, 1:00-2:30pm
        at the Husky Union Building Room 250
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>June 9, 2019 - Metropolitan Democratic Club of Seattle Chautauqua Afternoon</h2>
    <p>
        Come hear Frank speak at the MDC's outdoor meet and eat event
        Sunday, June 9, 12:00-5:00pm
        at 3618 SW Orchard Street
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>June 10, 2019 - NE Seattle Community and Wallingford Community Council Forum</h2>
    <p>
        Come hear Frank at the candidate forum
        Monday, June 10, 7pm
        at the Learning Center at Children's Hospital
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>June 11, 2019 - U-District Community Candidate Forum</h2>
    <p>
        Come hear Frank at the forum at University Heights
        Tuesday, June 11, 6pm
        at 1415 NE 52nd St.
    </p>
    </div>
</section>

<h1>District 4 Past Events</h1>

<section class="text">
    <div class="content">
    <h2>May 14, 2019 - Ravenna Bryant Community Association Annual Meeting Booth</h2>
    <p>
        We will have a table at the RBCA Annual Meeting 
        Tuesday, May 14, 6:00-8:30pm
        at the Ravenna-Eckstein Community Center, 6535 Ravenna Ave NE.
        For details, see <a href="http://www.ravennabryant.org">http://www.ravennabryant.org</a>.
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>May 14, 2019 - Eastlake Community Council Primary Election Forum</h2>
    <p>
        Come hear Frank debate at the Eastlake forum
        Tuesday, May 14, 6:30-8:30pm
        at the TOPS Seward School, 2500 Franklin Ave E.
        Please send suggested questions to <a href="mailto:info@eastlakeseattle.org">info@eastlakeseattle.org</a>.
    </p>
    </div>
</section>
