@page
@{
    ViewData["Title"] = "District 4 Events - Frank Krueger for Seattle City Council District 4";
}

<h1>District 4 Events</h1>


<section class="text">
    <div class="content">
    <h2>June 1, 2019 - North Lake Union Waterway Cleanup</h2>
    <p>
        Join us for a cleanup of the Northlake Way waterways!
        Trash pickers, gloves, and garbage bags will be supplied. Just
        bring yourself and comfortable clothes for walking. Coffee, tea,
        and snacks will be provided!
    </p>
    <img src="/images/waterways.png" style="width:50%">
    <p>
        Meet at the main entrance to Gas Works Park and look for the volunteers in blue shirts.
        We will start at Waterway 22 and work our way east to Waterway 15.
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>May 14, 2019 - Ravenna Bryant Community Association Annual Meeting Booth</h2>
    <p>
        We will have a table at the RBCA Annual Meeting 
        Tuesday, May 14, 6:00-8:30pm
        at the Ravenna-Eckstein Community Center, 6535 Ravenna Ave NE.
        For details, see <a href="http://www.ravennabryant.org">http://www.ravennabryant.org</a>.
    </p>
    </div>
</section>

<section class="text">
    <div class="content">
    <h2>May 14, 2019 - Eastlake Community Council Primary Election Forum</h2>
    <p>
        Come hear Frank debate at the Eastlake forum
        Tuesday, May 14, 6:30-8:30pm
        at the TOPS Seward School, 2500 Franklin Ave E.
        Please send suggested questions to <a href="mailto:info@eastlakeseattle.org">info@eastlakeseattle.org</a>.
    </p>
    </div>
</section>
