@page
@{
    ViewData["Title"] = "Gasworks Game - Frank Krueger for Seattle City Council District 4";
}

<h1>Gasworks Game</h1>

<section class="text">
    <div class="content" id="gamearea" style="width:100%">

    </div>    
</section>

<section class="text">
    <div class="content">
        Big thanks to <a href="https://codepen.io/harsay">harsay</a> for the <a href="https://codepen.io/harsay/pen/gMOZrB">initial code</a>.
    </div>    
</section>


<script src="/game/phaser.min.js"></script>
<script src="/game/game.js"></script>
