@page
@{
    ViewData["Title"] = "Home page";
    var elections = Election.All;
}

<h1>Vote Frank</h1>

<h2>@elections.Length Elections</h2>

<table>
@foreach (var e in elections.OrderByDescending(x => x.Date)) {
<tr><th><a href="/election/@e.Year/@e.Month">@e.Year-@e.Month @e.Kind</a></th></tr>
}
</table>
