@page
@{
    ViewData["Title"] = "Vote Frank Krueger for Seattle City Council District 4";
}

<img class="hero" src="~/images/frank2.jpg" />


<section class="bigtext gray bubble">
    <h1>Why?</h1>
    <p>I’m running because I believe I can bring a compassionate and reasoned voice to city council. I am a small business owner and an optimist who thinks District 4 is an amazing place to live in Seattle and I want to ensure that it becomes even more amazing in the future. I look forward to bringing my spirit, rigor, and strong work ethic to public office.</p>
    <p class="signature">-Frank</p>
</section>

<section class="bigtext">
    <h1>Who?</h1>
    <p>Frank&nbsp;Krueger fell in love with Seattle 15 years ago and has been a <strong>small business owner</strong> in District 4 for over a decade. While building his mobile app business, he led free <strong>professional continuing education efforts</strong> for adults, volunteered in after-school <strong>STEM education programs for kids</strong>, and <strong>helped immigrants</strong> navigate the US immigration system to legally enter the United States.</p>
</section>

<section class="bigtext gray">
    <h1>Frank is passionate about</h1>
    <ul>
        <li>Stabilizing rent prices</li>
        <li>Sustaining small businesses</li>
        <li>Ensuring that the homeless are healthy</li>
        <li>Navigating the homeless to housing</li>
    </ul>
</section>

