@page
@{
    ViewData["Title"] = "District 4 Issues - Frank Krueger for Seattle City Council District 4";
}

<h1>District 4 Issues</h1>

<section class="text">
    <div class="content">
    <h2>Upzoning and Displacement</h1>
    <p>
        Seattle is going through an impressive growth spurt, and it is easy to feel overwhelmed by how quickly things are changing. There is a wealthy class of individuals arriving in our city and making it their home. This is a major boon for the city and is something we should take pride in. But this wealth comes at a price — it means we are getting displaced.
    </p>
    <p>
        We see our friends moving out of the city, and we miss them. We have rising property taxes that are making people question just how long they can stay in their family homes. And we have rising rent preventing many who dream of living in Seattle from fulfilling that dream. I, myself, had to move my company’s office out of the U-District, out of District 4, because I could no longer afford the rent on the Ave. I saw the Twice Sold Tales bookstore become a Chase bank. I worry how many small businesses can survive this. I fear the effects displacement can have on the city not only on a personal level, but culturally. We have to keep room for our teachers, our police, our artists, and humanitarians. We must have places to live that are affordable to everyone, not just the nerds.
    </p>
    <p>
        We talk a lot about affordable housing and we must continue to do so, but the only way to accommodate these people is to build. We need to put the nerds somewhere. But Seattle can not stretch out and sprawl - we are a small city and we have to be smarter about how we welcome our new neighbors. Unfortunately, it’s not easy being smart and we’re going to stumble along the way. We’re going to compromise because we must. But we’re going to keep trying and trying until Seattle is a great city for everyone.
    </p>
    <p>
        We need to transform, we need to increase density. We need to look to the future of this city and what it can become instead of looking to the past and what it was.
    </p>
    </div>
</section>
