@page
@{
    ViewData["Title"] = "District 4 Issues and Solutions - Frank Krueger for Seattle City Council District 4";
}

<h1>District 4 Issues</h1>

<section class="text">
    <ul class="bigbuttons">
        <li><a href="#transportation"><i class="fas fa-bicycle"></i> Transportation</a></li>
        <li><a href="#nature"><i class="fas fa-tree"></i> Trees and Shorelines</a></li>
        <li><a href="#upzoning"><i class="fas fa-building"></i> Upzoning</a></li>
        <li><a href="#business"><i class="fas fa-store"></i> Business</a></li>
        <li><a href="#homeless"><i class="fas fa-users"></i> Homeless</a></li>
        <li><a href="#affordable-housing"><i class="fas fa-home"></i> Affordable Housing</a></li>
        <li><a href="#safety"><i class="fas fa-balance-scale"></i> Public Safety</a></li>
    </ul>
    </div>
</section>

<section class="text gray" id="transportation">
    <div class="content">
        <h2>Transportation</h2>
        <ul class="solutions">
            <li>
                <h3><i class="fas fa-bicycle"></i>&nbsp;&nbsp;Save Vision Zero</h3>
                <p>We want to be at zero deaths per year but we are not improving.</p>
                <p>Let's work together to ensure <b>Protected Bike Lanes</b>
                    continue to be built and we don't abandon this important work.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;Access to Light Rail</h3>
                <p>District 4 is gettting a new light rail station
                    and we need to ensure people can use it.</p>
                <p>For long commuters,
                    I would like to see the number of protected bike parking spots increased.</p>
                <p>Pedestrian access must be made safe and I am open to ideas to turn parts
                    of Brooklyn into pedestrian-zones.
                </p>
                <p>We must also <b>decriminalize fare evasion</b>.
                    Yes fines should be charged to discourage evasion,
                    but there should be no way for those fines to escalate to the point
                    where someone is charged with a crime.</p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;Sidewalk Safety</h3>
                <p>Not all of our sidewalks and intersections are ADA compliant -
                    and some of them are just terrible.
                </p>
                <p>Some of the <b>red-light camera</b> revenue has been redirected from
                    improving pedestrian safety to the general subfund. We should
                    use this technology for its initial purpose - to raise funds to
                    improve infrastructure in neighborhoods - not as a general tax.</p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;More Greenways</h3>
                <p>I am inspired by New York City that courageously converted streets
                    to walkways and pedestrian-friendly areas.</p>
                <p>I believe we should look to repeat their success
                    and support (and want to see expanded) the <b><a href="http://www.seattle.gov/dpd/cs/groups/pan/@("pan")/documents/web_informational/p2205694.pdf">U District Green Streets
Concept Plans</a></b>.</p>
                <p>I would also like to see the <b>Fariview WaterWay Path in Eastlake</b> improved so that bikers are not
                    forced to detour around parking lots.</p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;More Personal Mobility Devices</h3>
                <p>I am proud to live in a city that has multiple bike share programs.</p>
                <p>I want Seattle to welcome new innovative ways of moving about including
                    <b>electric scooters</b> and other devices.</p>
            </li>
            <li>
                <h3><i class="fas fa-car"></i>&nbsp;&nbsp;Bike Lanes vs Parking Spaces</h3>
                <p>Seattle is a constrained city and adding bike lanes often means
                    reducing the amount of on-street parking.</p>
                <p>Parking impact studies must do a better job of measuring and <b>accounting for new construction
                    when making decisions</b>.</p>
                <p>New residential developments <b>must include adequate off-street parking</b>
                    for new residents.</p>
            </li>
        </ul>

    </div>
</section>

<section class="text" id="nature">
    <div class="content">
        <h2>Trees and Shorelines</h2>
        <p>
            We love Seattle because it's green - we cannot lose that even with our growth.
            On the contrary, we can use this time of building as an opportunity to correct the mistakes of the
            past and ensure Seattle has a lush canopy for everyone to enjoy.
        </p>
        <ul class="solutions gray">
            <li>
                <h3><i class="fas fa-tree"></i>&nbsp;&nbsp;Continue the Goal of 30% Coverage</h3>
                <p>I support the ambitious <a href="https://www.seattle.gov/council/issues/past-issues/trees-for-all">Trees for All plan to extend Seattle's canopy</a>.</p>
                <p>This plan includes the requirement that any removed tree be either replaced
                    or compensated for by contributing to a city-wide tree planting fund.</p>
            </li>
            <li>
                <h3><i class="fas fa-tree"></i>&nbsp;&nbsp;Require New Large Trees</h3>
                <p>We are building a lot of new residential condos and apartment complexes
                    and I would like to see a requirement for new large trees at these locations
                    even if no trees were there previously.</p>
                <p>Big trees have big demands and this requirement will not be loved by developers.
                    But we must commit to a greener Seattle and accept our role as stewards of the land.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-tree"></i>&nbsp;&nbsp;Better Long Term Planning</h3>
                <p>Seattle has a wonderful diversity of trees, but we don't always put them
                    in the right place. People are free to plant as they wish, but the city
                    should be held to a higher standard.</p>
                <p>Tall and fast-growing trees should not be planted under power lines.</p>
                <p>Water-thirsty trees should not be planted in dry urban areas.</p>
                <p>Invest in long-lived trees so that we don't have to replace them as often.</p>
            </li>
            <li>
                <h3><i class="fas fa-water"></i>&nbsp;&nbsp;Increase Waste Removal from the Shorelines</h3>
                <p>The shoreline of Lake Union is the treasure of the city,
                    but it can also be one of the most polluted bits.</p>
                <p>Many of the water way parks lack trash disposal.
                    I would like to see the SPU re-committed to ensuring the parks are clean
                    and people have a way to keep them that way.</p>
            </li>
            <li>
                <h3><i class="fas fa-water"></i>&nbsp;&nbsp;Rebuild Water Way Parks</h3>
                <p>I want to see an overhaul of our Water Way parks. Many were constructed
                    in the 1970s and are maintained only by the surrounding community.
                    It's time that the city repairs and refreshes these parks and not
                    lose them to decay.</p>
                <p>Even basic signage is missing and many are unaware of the public access points.
                    This is an easy bit of maintenance that is long overdue.
                </p>
            </li>
        </ul>
    </div>
</section>

