@page
@{
    ViewData["Title"] = "District 4 Issues and Solutions - Frank Krueger for Seattle City Council District 4";
}

<h1>District 4 Issues</h1>

<section class="text">
    <ul class="bigbuttons">
        <li><a href="#transportation"><i class="fas fa-bicycle"></i> Transportation</a></li>
        <li><a href="#nature"><i class="fas fa-tree"></i> Trees and Shorelines</a></li>
        <li><a href="#affordable-housing"><i class="fas fa-home"></i> Affordable Housing</a></li>
        <li><a href="#upzoning"><i class="fas fa-building"></i> Upzoning</a></li>
        <li><a href="#homeless"><i class="fas fa-user"></i> Homeless</a></li>
    </ul>
    </div>
</section>

<section class="text gray" id="transportation">
    <div class="content">
        <h2>Transportation</h2>
        <ul class="solutions">
            <li>
                <h3><i class="fas fa-bicycle"></i>&nbsp;&nbsp;Save Vision Zero</h3>
                <p>We want to be at zero deaths per year but we are not improving
                    - we are not moving fast enough to protect pedestrians and cyclists.</p>
                <p>Let's work together to ensure <b>Protected Bike Lanes</b>
                    continue to be built and we don't abandon this important work.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;Access to Light Rail</h3>
                <p>District 4 is gettting a new light rail station
                    and we need to ensure people can use it.</p>
                <p>For long commuters,
                    I would like to see the number of protected bike parking spots increased.</p>
                <p>Pedestrian access must be made safe and I am open to ideas to turn parts
                    of Brooklyn into pedestrian-zones.
                </p>
                <p>We must also <b>decriminalize fare evasion</b>.
                    Yes fines should be charged to discourage evasion,
                    but there should be no way for those fines to escalate to the point
                    where someone is charged with a crime.</p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;Sidewalk Safety</h3>
                <p>Not all of our sidewalks and intersections are ADA compliant -
                    and some of them are just terrible.
                </p>
                <p>Some of the <b>red-light camera</b> revenue has been redirected from
                    improving pedestrian safety to the general subfund. We should
                    use this technology for its initial purpose - to raise funds to
                    improve infrastructure in neighborhoods - not as a general tax.</p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;More Greenways</h3>
                <p>I am inspired by New York City that courageously converted streets
                    to walkways and pedestrian-friendly areas.</p>
                <p>I believe we should look to repeat their success
                    and support (and want to see expanded) the <b><a href="http://www.seattle.gov/dpd/cs/groups/pan/@("pan")/documents/web_informational/p2205694.pdf">U District Green Streets
Concept Plans</a></b>.</p>
                <p>I would also like to see the <b>Fariview WaterWay Path in Eastlake</b> improved so that bikers are not
                    forced to detour around parking lots.</p>
            </li>
            <li>
                <h3><i class="fas fa-walking"></i>&nbsp;&nbsp;More Personal Mobility Devices</h3>
                <p>I am proud to live in a city that has multiple bike share programs.</p>
                <p>I want Seattle to welcome new innovative ways of moving about including
                    <b>electric scooters</b> and other devices.</p>
            </li>
            <li>
                <h3><i class="fas fa-car"></i>&nbsp;&nbsp;Bike Lanes vs Parking Spaces</h3>
                <p>Seattle is a constrained city and adding bike lanes often means
                    reducing the amount of on-street parking.</p>
                <p>Parking impact studies must do a better job of measuring and <b>accounting for new construction
                    when making decisions</b>.</p>
                <p>New residential developments <b>must include adequate off-street parking</b>
                    for new residents.</p>
            </li>
        </ul>

    </div>
</section>

<section class="text" id="nature">
    <div class="content">
        <h2>Trees and Shorelines</h2>
        <p>
            We love Seattle because it's green - we cannot lose that even with our growth.
            On the contrary, we can use this time of building as an opportunity to correct the mistakes of the
            past and ensure Seattle has a lush canopy for everyone to enjoy.
        </p>
        <ul class="solutions gray">
            <li>
                <h3><i class="fas fa-tree"></i>&nbsp;&nbsp;Continue the Goal of 30% Coverage</h3>
                <p>I support the ambitious <a href="https://www.seattle.gov/council/issues/past-issues/trees-for-all">Trees for All plan to extend Seattle's canopy</a>.</p>
                <p>This plan includes the requirement that any removed tree be either replaced
                    or compensated for by contributing to a city-wide tree planting fund.</p>
            </li>
            <li>
                <h3><i class="fas fa-tree"></i>&nbsp;&nbsp;Require New Large Trees</h3>
                <p>We are building a lot of new residential condos and apartment complexes
                    and I would like to see a requirement for new large trees at these locations
                    even if no trees were there previously.</p>
                <p>Big trees have big demands and this requirement will not be loved by developers.
                    But we must commit to a greener Seattle and accept our role as stewards of the land.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-tree"></i>&nbsp;&nbsp;Better Long Term Planning</h3>
                <p>Seattle has a wonderful diversity of trees, but we don't always put them
                    in the right place. People are free to plant as they wish, but the city
                    should be held to a higher standard.</p>
                <p>Tall and fast-growing trees should not be planted under power lines.</p>
                <p>Water-thirsty trees should not be planted in dry urban areas.</p>
                <p>Invest in long-lived trees so that we don't have to replace them as often.</p>
            </li>
            <li>
                <h3><i class="fas fa-water"></i>&nbsp;&nbsp;Increase Waste Removal from the Shorelines</h3>
                <p>The shoreline of Lake Union is the treasure of the city,
                    but it can also be one of the most polluted bits.</p>
                <p>Many of the water way parks lack trash disposal.
                    I would like to see the SPU re-committed to ensuring the parks are clean
                    and people have a way to keep them that way.</p>
            </li>
            <li>
                <h3><i class="fas fa-water"></i>&nbsp;&nbsp;Rebuild Water Way Parks</h3>
                <p>I want to see an overhaul of our Water Way parks. Many were constructed
                    in the 1970s and are maintained only by the surrounding community.
                    It's time that the city repairs and refreshes these parks and not
                    lose them to decay.</p>
                <p>Even basic signage is missing and many are unaware of the public access points.
                    This is an easy bit of maintenance that is long overdue.
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="text gray" id="affordable-housing">
    <div class="content">
        <h2>Affordable Housing</h2>
        <p>
            Affordable housing is needed by many kinds of people: young people just starting out,
            those with low-income jobs, and our elders who have a fixed income and cannot keep
            up with increasing rents and property taxes.
        </p>
        <p>We have committed to increasing the amount of affordable housing
            and I support the many initiatives
        </p>
        <ul class="solutions">
            <li>
                <h3><i class="fas fa-home"></i>&nbsp;&nbsp;Support MHA and Beyond</h3>
                <p>There are a fair number of criticisms of 
                    <a href="https://www.seattle.gov/hala/about/mandatory-housing-affordability-(mha)">MHA</a>,
                    but there is one redeeming attribute:
                    it <b>increases the amount of affordable housing</b> we will have. That, alone, is enough
                    for me to be in favor of it.
                </p>
                <p>That said, please see my ideas on <a href="#upzoning">upzoning</a> for
                    improvements I would like to see.</p>
            </li>
            <li>
                <h3><i class="fas fa-home"></i>&nbsp;&nbsp;Support Accessory Dwelling Units (ADUs)</h3>
                <p>I support both cottages and mother-in-laws on a single property.
                    These are an excellent way to provide affordable housing in the city.
                </p>
                <p>Parking requirements for ADUs should be based on the neighborhood:
                    if parking is congested and there is public transportation then
                    there should be no parking requirement.</p>
                <p>I am in favor of <b>residency requirements</b> as other cities have
                    demonstrated that unregulated speculative investment contributes to inflated
                    prices.</p>
            </li>
            <li>
                <h3><i class="fas fa-home"></i>&nbsp;&nbsp;Help Locate Qualifying Homes</h3>
                <p>Even if someone can afford the rent, they can be inelligible to rent
                    based on criteria from the management companies.
                    This can include your credit score and whether you've been recently evicted
                    among other things.</p>
                <p>If you think finding a place to rent is hard in the city, imagine
                    if you don't know if you're qualified. You end up wasting a lot of time,
                    and if you're experiencing homelessness then this means
                    you spend more time in shelters.
                </p>
                <p>We need a better way to <b>search Seattle's rentable units and
                    match that with your circumstances</b>. 
                    We have the technology to do these matches and we should deploy it.</p>
            </li>
            <li>
                <h3><i class="fas fa-home"></i>&nbsp;&nbsp;Co-sign Fund</h3>
                <p>If someone is disqualified from renting, they usually can still rent
                    if they have a co-signer.
                </p>
                <p>I proprose that Seattle establish a <b>fund to co-sign rental agreements</b>
                    for people who are awarded vouchers or otherwise have a pressing needs.
                    This fund could give people opportunities to start afresh
                    in the communities that they already know.</p>
                <p>If operated wisely, this fund could operate with minimal tax payer
                    and give immediate relief to people in desperate circumstances.</p>
            </li>
        </ul>
    </div>
</section>

<section class="text" id="upzoning">
    <div class="content">
        <h2>Upzoning</h2>
        <p>
            Seattle is growing and a wonderful pace and we need to make room for everyone -
            we need to increase our density.
            Construction of new housing and new business spaces is
            the best way to keep rents and property values from ballooning
            and displacing people who want to live here.
        </p>
        <ul class="solutions gray">
            <li>
                <h3><i class="fas fa-building"></i>&nbsp;&nbsp;Support Mandatory Affordable Housing</h3>
                <p>
                    The 
                    <a href="https://www.seattle.gov/hala/about/mandatory-housing-affordability-(mha)">MHA</a>
                    isn't without its failings, but it is an important step in the right direction.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Improve Upon MHA</h3>
                <p>
                    Growing the city while retaining the charm and beauty of our neighborhoods
                    is going to be an up and down ride. Mistakes will be made and then we will correct
                    them. MHA was an improvement upon HALA and I think we can <b>continue to make
                    improvements</b>.
                </p>
                <p>
                    To keep that process as smooth as possible, we need to consider the needs of
                    neighborhoods and ensure they have real power in the decision making process.                    
                </p>
            </li>
            <li>
                <h3><i class="fas fa-user"></i>&nbsp;&nbsp;Listen to and Empower Residents</h3>
                <p>
                    Most major projects have community outreach in the form of community meetings.
                    Unfortunately not many attend these meetings and they are not well equipped
                    even if more did arrive.
                </p>
                <p>
                    We need a better way to poll public opinion on devisive decisions.
                    I propose that fully transparent opinion polls be conducted by the city
                    that do not require people to leave their homes.
                </p>
                <p>Such a poll would focus on creating unbiased results so that everyone's
                    voice is heard.
                </p>
                <p>The results of the poll would be available online so that we can all
                    see the temper of the city. You and I would both know if our elected
                    officials and city planners were working in our favor.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-store"></i>&nbsp;&nbsp;Increase Retail and Hospitality Space</h3>
                <p>
                    I have seen too many housing complexes built without street level retail
                    and I want to see future zoning changes <b>require more retail space</b>.
                </p>
                <p>
                    More local businesses mean you will have to <b>drive or bus less</b>.
                    It means <b>smaller businesses can afford rent</b>, and
                    <b>we'll need to get delivery less</b>.
                </p>
            </li>
        </ul>
    </div>
</section>

<section class="text gray" id="homeless">
    <div class="content">
        <h2>Homeless</h2>
        <p>
            Homelessness must be fought on three fronts:
            preventing homelessness before it happens,
            keeping those experiencing homelessness healthy,
            making the transition to a stable life successful.
        </p>
        <ul class="solutions">
            <li>
                <h3><i class="fas fa-user"></i>&nbsp;&nbsp;Rental Assistance</h3>
                <p>
                    Individuals and families can apply for rental relief through
                    several city agencies. While this is not a long-term solution,
                    it has shown to help many get by during bad times. 
                </p>
                <p>
                    I support the govenment pursuing rental assistance grants
                    but think that the construction of <a href="#affordable-housing">affordable housing</a>
                    must be our priority.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-home"></i>&nbsp;&nbsp;Housing-first Solution</h3>
                <p>
                    We cannot begin to tackle the troubles facing someone experiencing
                    homelessness if we don't first stabilize their life and satisfy their
                    basic needs.
                </p>
                <p>
                    Our <b>shelters are the most important step to getting someone off the streets</b>
                    and we must invest in them.
                </p>
                <p>
                    We must also work with funded shelters to ensure that they are accepting
                    as many people as they can by keeping a permissive inclusion policy.
                </p>
                <p>
                    I would also like to see funded shelters accept people later into the night
                    and allow them to stay later into the morning.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-user"></i>&nbsp;&nbsp;Support for LGBTQ Youth</h3>
                <p>
                    A <a href="http://williamsinstitute.law.ucla.edu/wp-content/uploads/Durso-Gates-LGBT-Homeless-Youth-Survey-July-2012.pdf">dispropotionate number of homeless are LGBTQ</a>.
We must <b>prioritize a housing-first approach</b>, get these kids off the streets
and back into school. 
                </p>
                <p>
                    We must ensure that shelters are safe havens
                    and that they accomodate the needs of transgender people.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-toilet"></i>&nbsp;&nbsp;Improved Hygiene Facilities</h3>
                <p>
                    Seattle only has 7 all-day and night restrooms <i>city wide</i>.
                    We must <b>increase the number of 24/7 restrooms</b>. It's not fair to anyone in this city
                    to be denied basic hygiene facilities.
                </p>
                <p>
                    Our 24/7 portable "restrooms" are often dirty and in need of repair.
                    We can do so much better.
                </p>
                <p>
                    I propose that instead of wasting money on porta-potties and pie-in-the-sky
                    autocleaning machines, we use what has shown to be effective in San Francisco.
                    <b>Big solid simple restrooms with a sink.</b> They're stronger, easier to clean,
                    and offer great value to people in need.
                </p>
            </li>
            <li>
                <h3><i class="fas fa-dumpster"></i>&nbsp;&nbsp;Encampment Waste Removal</h3>
                <p>
                    The city has a small trial program and budget for SPU to remove waste from encampments.
                    I believe that this program must continue and be funded to expand.
                    
                </p>
            </li>
            <li>
                <h3><i class="fas fa-users"></i>&nbsp;&nbsp;Stop the Sweeps</h3>
                <p>
                    While I believe the homeless navigation team is a necessary service,
                    I would like to see them deployed under fewer circumstances.
                </p>
                <p>
                    There is safety in numbers and these encampments provide community for the homeless.
                    You have only hit bottom when you no longer have someone to help you.
                </p>
                <p>
                    But, with all communities, there are trouble makers and these communities
                    deserve protection from them.
                    I believe that <b>people living in encampments should be able to call the police
                    without fear that their community will be swept away</b>.
                </p>
            </li>
        </ul>
    </div>
</section>


